@model IEnumerable<JordanDeBordProject2.Models.ViewModels.DisplayMovieHomeVM>

@{
    var totalWatched = ViewData["TotalWatched"];
    var totalSpent = (double)ViewData["TotalSpent"];
    var totalMovies = ViewData["TotalMovies"];
    var formattedTotalSpent = totalSpent.ToString("C");

}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index" asp-controller="Movie">All Movies</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTimesWatched)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTimesWatched)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Movie" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Watch" asp-controller="Movie" asp-route-id="@item.Id">Watch Again</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<div>
    <p>
        Total number of movies watched: @totalMovies
    </p>
    <p>
        Count of movies watched: @totalWatched
    </p>
    <p>
        Total money spent watching movies: @formattedTotalSpent
    </p>
</div>
