@model IEnumerable<JordanDeBordProject2.Models.ViewModels.DisplayMovieIndexVM>

@{ 
    var totalMovies = ViewData["TotalMovies"];
}
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Index" asp-controller="Home">Watched Movies</a> | 
    <a asp-action="Index" asp-controller="Movie">All Movies</a> | 
    <a asp-action="Browse" asp-controller="Movie">Back To All Genres</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchStatus)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Movie" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Watch" asp-controller="Movie" asp-route-id="@item.Id">Watch</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <p>
        Movies: @totalMovies
    </p>
</div>
