@model JordanDeBordProject2.Models.ViewModels.DeleteMovieVM


<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this movie?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="DeleteMovie">
        <input type="submit" value="Yes, Delete" class="btn btn-danger" />
    </form>
</div>
<div>
    <a asp-action="Index" asp-controller="Admin">Back to Admin Movie List</a>
</div>
